@import '~bootstrap';
@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/modules/navigation/navigation';
@import 'node_modules/swiper/modules/pagination/pagination';
body {
    background-color: #F8F8F7;
}
#main {
    background-color: #FFFFFF;
}
.navbar {
    .navbar-brand {
        img {
            height:50px;
        }
    }
}
.main-product {
    .product-gallery {
        .swiper-button-next,
        .swiper-button-prev {
            color: #000000;
        }
        .gallery-slider {
            width: 100%;
            height: auto;
            margin: 0 0 10px 0;

            .swiper-slide {
                width: auto;
                height: 400px;

                img {
                    display: block;
                    width: auto;
                    height: 100%;
                    margin: 0 auto;
                }
            }
        }


        .gallery-thumbs {
            width: 100%;
            padding: 0;
            overflow: hidden;

            .swiper-slide {;
                width: 100px;
                height: 100px;
                text-align: center;
                overflow: hidden;
                opacity: .1;

                &-active {
                    opacity: 1;
                }

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
    .product-info {
        .product-title {
            font-weight:400;
            margin-bottom:30px;

        }
        .price {
            .current-price {
                font-size: 2rem;
                font-weight:600;
            }
            .old-price {
                font-size:1rem;
                text-decoration:line-through;
            }
        }
        .nav-pills li a.active{
            background-color: #000000;
            color: #ffffff;
        }
        .nav-pills li a {
            color: #000000;
            border-color: #ffffff;
        }
    }

}
.product-info-nav {
    background-color: #F8F8F7;

    .nav-link.active {
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 37px;
    }
}

#sizeGuide {

    background-color: #F8F8F7;
    .size-info {
        .size-info-bullet {
            color: #C9C9C9;
            background-color: #FFFFFF;
            border-radius: 20px;
            border: 1px solid #C9C9C9;
            padding: 3px;
            height: 33px;
            width: 33px;
            text-align: center;
            display: inline-block;
        }
    }
}
